/* Grundläggande stilar för webbsidans kropp */
body {
    font-family: Arial, sans-serif; /* Använd Arial eller sans-serif som fallback för typsnitt */
    background-color: #f2f2f2; /* vit bakgrundsfärg */
    color: #333; /* Mörkgrå textfärg */
}

.wrapper{ /* Stilar för en wrapper-klass som använder CSS Grid Layout */
    display: grid; /*Gridlayout*/
    grid-template-rows: 70px 80px auto 60px; /* Definierar radhöjder för gridområden */
    grid-template-areas: 
    "header" /* Headerområde */
    "nav" /* Navigationsområde */
    "main" /* Huvudområde */
    "footer"; /* Footerområde */
}

header{ /* Stilar för header-sektionen */
    grid-area: header; /* Placera headern i det definierade gridområdet 'header' */
    color: #333; /* Mörkgrå textfärg */ 
}

nav{ /* Stilar för navigationsområdet */
    grid-area: nav; /* Placera navigationen i det definierade gridområdet 'nav' */
    background-color: #333;  /* Mörkgrå bakgrundsfärg */
    border-radius: 15px;  /* Rundade hörn */
}

main{ /* Stilar för huvudområdet */
    grid-area: main; /* Placera huvudområdet i det definierade gridområdet 'main' */
    display: grid; /* Använd grid-layout */
    grid-template-columns: 1fr; /* En kolumn som fyller hela bredden */
}

#tvåspalt main{ /* Anpassning av huvudområdet till två kolumner om 'tvåspalt' ID används */
    grid-template-columns: 1fr 1fr; /* Två kolumner av samma bredd */
}

#trespalt main{ /* Anpassning av huvudområdet till tre kolumner om 'trespalt' ID används */
    grid-template-columns: 1fr 1fr 1fr; /* Tre kolumner av samma bredd */
}

footer{ /* Stilar för footer-sektionen */
    grid-area: footer; /* Placera footern i det definierade gridområdet 'footer' */
}


nav ul { /* Stilar för navigationslänkar i navigationsområdet */
    display: grid; /* Använd grid-layout */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Nio lika breda kolumner för navigationslänkar */
}


ul li { /* Stilar för varje navigationslistelement */
    list-style-type: none; /* Tar bort punktlistornas stil */
}


h1, h2 { /* Stilar för rubriker */
    text-align: center;  /* Centrera texten */
    margin-bottom: 20px; /* Lägg till en nedre marginal på 20px */
}


footer {   /* Stilar för sidans footer */
    background-color: #333; /* Mörkgrå bakgrundsfärg */
    color: #fff; /* Vit textfärg */
    text-align: center; /* Centrera texten */
    border-radius: 15px; /* Rundade hörn med 15 px rund hörn */
}


table {/* Stilar för tabeller */
    width: 100%;  /* Tabellens bredd fyller hela tillgängliga utrymmet */
    border-collapse: collapse; /* Sammanfoga tabellcellerna för att ta bort mellanrum mellan dem */
    margin-bottom: 20px; /* Lägg till en nedre marginal på 20px */
}


table, th, td {
    border: 1px solid #333; /* Mörkgrå kantlinje för tabellen, tabellhuvuden och celler */
}

th, td {
    padding: 10px; /* Inre marginal för tabellhuvuden och celler */
}

/* Stilar för tabellrubrik */
caption {
    font-weight: bold; /* Fetstil för rubriktext */
    margin-bottom: 10px; /* Lägg till en nedre marginal på 10px */
}

/* Stilar för länkar i olika tillstånd */
a:link{
    color: greenyellow; /* Standardfärg för icke-besökta länkar */
}

a:visited{
    color: rgb(6, 179, 141)  /* Färg för besökta länkar */
}

a:focus{
    background-color: yellow; /* Bakgrundsfärg vid fokus */
    transform: scale(1.2); /* Förstorningseffekt */
}

a:hover{
    color: blue; /* Färg vid hover */
    transform: scale(1.2); /* Förstorningseffekt */
}

a:active{
    color: hsl(300, 100%, 50%) /* Färg för aktiva länkar */
}

article{ /* Stilar för artikelelement */
    border: 2px solid black; /* Svart kantlinje med 2px tjocklek */
    padding: 10px; /* Inre marginal */
    margin-left: 20%; /* Vänstermarginal på 20% */
    margin-right: 20%; /* Högermarginal på 20% */
    margin-top: 5%; /* Översta marginal på 5% */
    margin-bottom: 5%;  /* Nedre marginal på 5% */
    border-radius: 1em; /* Rundade hörn med 1em radie */
}


fieldset{ /* Stilar för fältuppsättningar */
    border-radius: 15px; /* Rundade hörn med 15px radie */
}

input[type="submit"]{ /* Stilar för submit-knappar */
    width: 100px; /* Bredd på 100px */
    height: 100px; /* Höjd på 100px */
}

table, figure{ /* Centrera tabeller och figurer */
    margin: auto; /* Centrera med automatisk marginal */
}